main{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  height: 900px;
  width: 1231px;
}

.tor1{
  margin: 400px 0 0 400px;
}

.tor2{
  margin: 400px 0 0 197px;
}

.tor3{
  margin-top: 400px;
} 
 .dis1{
  margin-right: 100px;
}


